@using AlphaBeratung.ViewModels

@{
    Layout = null;
}

@model Password_Recovery





<!DOCTYPE html>
<html lang="en">

<head>

     <title>Alpha Beratung</title>
   

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="~/assests/css/bootstrap.min.css">
     <link rel="stylesheet" href="~/assests/css/owl.carousel.css">
     <link rel="stylesheet" href="~/assests/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="~/assests/css/font-awesome.min.css">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="~/assests/css/tooplate-style.css">
    

</head>

<body>
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#" id="myTitle" class="navbar-brand">Alpha Beratung</a>
               </div>
               
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                         <li><a asp-controller="Home" asp-action="Index" class="smoothScroll">Home</a></li>
                         <li><a asp-controller="Home" asp-action="Index" class="smoothScroll">Features</a></li>
                         <li><a asp-controller="Home" asp-action="Index" class="smoothScroll">About us</a></li>
                         <li><a asp-controller="Home" asp-action="Contact" class="smoothScroll">Contact</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="mailto:office@alpha-beratung.at">Say hello - <span>
                                        office@alpha-beratung.at</span></a></li>
                    </ul>
               </div>
               <br />
               <div>   
                   <h1 style="color:white;background-color:red">@TempData["Message"]</h1></div>
               <!-- MENU LINKS -->
             

          </div>
                  
         
     </section>


     <!-- FEATURE -->
     <section id="home" data-stellar-background-ratio="0.5" class="table-responsive card-datatable">
          <div class="container">
              <div class="col-md-offset-3 col-md-6 col-sm-12">
         <div class="row">
    <div class="col-md-8">
        <section>
            <form id="passwordRecoveryForm" method="post" asp-controller="Account" asp-action="Reset_Password">
                <h2  style="color:white;">Enter your Email To Resest Your Password.</h2>
                <hr />
                <div class="form-floating">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" required  />
                    <label asp-for="Email" class="form-label" style="color:white;"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
               
                
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </div>

                <div>
                    <h5  style="color:white;">Register a new Account</h5>
                    <a id="login-submit" asp-controller="Account" asp-action="Register" class="w-100 btn btn-lg btn-primary">Sign up</a>
                </div>

               
            </form>
        </section>
    </div>
    
</div>
</div>
</div>

     </section>


     <!-- FOOTER -->
     


     <!-- SCRIPTS -->
     <script src="~/assests/js/jquery.js"></script>
     <script src="~/assests/js/bootstrap.min.js"></script>
     <script src="~/assests/js/jquery.stellar.min.js"></script>
     <script src="~/assests/js/owl.carousel.min.js"></script>
     <script src="~/assests/js/smoothscroll.js"></script>
     <script src="~/assests/js/custom.js"></script>


@*      @await RenderSectionAsync("Scripts", required: false)
*@</body>

</html>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#passwordRecoveryForm').submit(function(e) {
                e.preventDefault(); // Prevent default form submission
                var email = $('#email').val();

                // Send password recovery request to server
                $.ajax({
                    url: '/Account/Resest_Password',
                    type: 'POST',
                    data: { email: email },
                    success: function(response) {
                        // Handle success response, e.g., show a success message to the user
                        alert("Password recovery email sent!");
                        // Optionally redirect the user to a success page
                        window.location.href = '/Account/Login';
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        // Handle error response, e.g., display an error message
                        alert("Password recovery failed. Please try again.");
                    }
                });
            });
        });
    </script>
}

